<div class='container-fluid'> 
	<div class="row">
		<div class="col-6 offset-6 imageDiv">
			<img width="500" src="assets\img\Logo_sfondo_trasparente.png"
				class="img-fluid float-right" alt="Responsive image">
		</div>
	</div>

	<div class="row signInRow mt-5">
		<div class="col-6 offset-3">
			<div class="card">
				<div class="card-header">
					<h2>Login</h2>
				</div>
				<div class="card-body">
					<form #loginForm="ngForm" novalidate (ngSubmit)="submit()">
						<div class="form-group col-12 col-sm">
							<label for="inputEmail">Email address</label> <input type="email"
								pattern=".+@.+" class="form-control" id="inputEmail"
								name="email" [(ngModel)]="_email" 
								placeholder="Enter email" required>
						</div>
						<div class="form-group col-12 col-sm">
							<label for="inputPassword">Password</label> <input
								type="password" class="form-control" name="password"
								[(ngModel)]="_password" id="inputPassword"
								placeholder="Password" required>
						</div>

						<div class="form-group col-12 col-sm">
							<input type="checkbox" id="rememberCredentialCheck" name="rememberCredentials"
							[(ngModel)]="_rememberPassword"> <label class="ml-1">Remember me</label>
						</div>
					
						<button type="submit" class="btn btn-success" id="signInButton"
							[disabled]="!loginForm.form.valid" [routerLink]="['/user']" >Sign In
							
						</button>
					</form>
					<label class="signUpRequestLabel">You don't have any
						account? <a [routerLink]="[signUpPath]">Sign Up</a>
					</label>
				</div>
			</div>
		</div>
	</div>
</div>