  <div class="container-fluid">

    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
      <a class="navbar-brand"><img width="100" src="assets\img\Logo_sfondo_trasparente.png" class="img-fluid float-right"
          alt="Responsive image"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav ml-auto">
          <div class="nav-item active">
            <button class="btn btn-outline-success nav-item" type="button" [routerLink]="['profile']">Profile</button>
            <button class="btn btn-outline-success" type="button">Pain Menu</button>
            <button class="btn btn-outline-success" type="button">Calendar</button>
            <button class="btn btn-outline-success" type="button" [routerLink]="['settings']">Settings</button>
            <button class="btn btn-outline-success" type="button" (click)="showModal(content);" >Signout</button>
          </div>
        </div>

      </div>
    </nav>
    <router-outlet> </router-outlet>
  </div>

   <!-- Modal to perform signout-->
  <ng-template #content let-modal >     
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title signOutModalTitle">Are you sure you want to signout?</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
       <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="modal.close(content)">No</button>
        <button type="button" id="confirmLogout" class="btn btn-success" (click)="logout();">Yes</button>
    </div>
  </ng-template>