<div class="row mt-5">
  <div class="col-6 offset-3 profile">
    <div class="card">
      <div class="card-header">
        User Details
      </div>

      <div class="card-body">
        <div class="row">
          <div class="card userImage col-5 align-self-start">
            <div class="card-body">
              User Image
              to be placed here
            </div>
          </div>

          <div class="card userDetails col-7">
            <div class="card-body">
              <div class="form-group row">
                <input type="text" readonly class="form-control-plaintext" id="staticNameSurname" value="Antonio Fazio">
                <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">
                <input type="text" readonly class="form-control-plaintext" id="staticCity" value="Lamezia Terme">
                <input type="text" readonly class="form-control-plaintext" id="staticNation" value="Italy">
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="card-footer d-flex justify-content-end">
        <button class="btn btn-success" type="submit">Edit Profile</button>
      </div>
    </div>
  </div>
</div>